@tailwind base;
@tailwind components;

@import 'components/article';
@import 'components/typos';

@layer base {
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Lato-Light.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Lato-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/Lato-Bold.ttf') format('truetype');
  }
}

@import 'components/navigation';

@tailwind utilities;
